%h1.root HacSoc
:markdown
  Hacker Society is a group associated with the CWRU ACM chapter dedicated to developing
  the skills needed to actually produce real world software in its members.
  HacSoc hosts weekly tech talks with topics ranging from systems level security
  up to introducing the new features of HTML5 and even talks about the legal side
  of intellectual property.  Speakers have been students, professionals from industry,
  and occasionally professors. For more information about Hacker Society, check out
  [our website](http://www.hacsoc.org "HacSoc Website"). 

%h2 Projects
:markdown
  We host all of our work on [our Github organization](https://github.com/hacsoc
  "HacSoc Github") including this website. If you're a CWRU student and want to
  get involved with our work, just get in touch with one of the students you find
  on that organization.  The current organizer of HacSoc is [Brendan Higgins](mailto:bjh83@case.edu),
  contact him with any questions. 
