@import 'fonts/font.css'

/* Reset stuff */
body,html,ul,li,dt,dl,dd {
  margin: 0; padding: 0;
}

/* Global Styles */
body,html {
  background-color: #25252f;
  background-image: url('../images/bg.png');
  color: #efefef;
  font-family: 'OpenSans', Helvetica, sans-serif;
  color: #ddd;
}
p {
  line-height: 1.4em;
}
.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

h1.root:after {
  content: '@CWRU';
  opacity: 0.3;
}

.container a {
  color: #6cf;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
}

.container a:hover {
  color: #5df;
}

/* Top Banner */
.site-banner {
  background-color: #102039;
  opacity: 0.8;
  border-bottom: 1px solid #0a0a0a;
  margin-bottom: 30px;
  overflow: hidden;
  line-height: 36px;
  width: 100%;
}
.site-banner ul {
  list-style: none;
  margin: auto;
}
.site-banner li {
  float: left;
  margin-left: 50px;
}
.site-banner li:first-child {
  margin-left: 0;
}
.site-banner .brace {
  float: left;
  margin: auto 20px;
  color: #2a4e79;
}
.site-banner a {
  color: #91a0c0;
  font-weight: 700;
  text-decoration: none;
}
.site-banner a:hover {
  color: #b0d191;
}

/* Page styles */
h1 {
  font-size: 78px;
  text-shadow: 2px 2px 1px #000;
  margin-bottom: 40px;
  color: #fff;
}

/* Aside Box */
.aside-list {
  list-style: none;
  min-width: 300px;
}
.aside-list li {
  line-height: 1.6em;
}
.aside-list a {
  color: #999;
  text-decoration: none;
}
.aside-list .key {
  float: left;
  margin-right: 14px;
}
.aside-list .value {
  color: #ccc;
  font-style: italic;
}

/* Presentational Styles */
.right {
  float: right;
  margin: 0 0 20px 20px;
}
