@import 'fonts/font.css';

/* Reset stuff */
body,html,ul,li,dt,dl,dd {
  margin: 0; padding: 0;
}

/* Global Styles */
body,html {
  background-color: #25252f;
  background-image: url('../images/bg.png');
  color: #efefef;
  font-family: 'OpenSansRegular', Helvetica, sans-serif;
  color: #ddd;
  padding-bottom: 40px;
}
::selection {
  background: #2A4E79;
}
::-moz-selection {
  background: #2A4E79;
}

p {
  line-height: 1.4em;
}

table {
  border: 1px solid;
  border-collapse: collapse;
}

table td, th {
  padding: 5px;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

h1.root:after {
  content: '@CWRU';
  color: #999;
  opacity: 0.15;
}

.container a {
  color: #6cf;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
}

.container a:hover {
  color: #5df;
  text-shadow: 0 0 1px #777;
}

.container ul {
  padding-left: 15px;
}

.container h2 {
  margin-top: 40px;
}

/* Top Banner */
.site-banner {
  background-color: #102039;
  opacity: 0.8;
  border-bottom: 1px solid #0a0a0a;
  margin-bottom: 30px;
  overflow: hidden;
  line-height: 36px;
  width: 100%;
}
.site-banner ul {
  list-style: none;
  margin: auto;
}
.site-banner li {
  float: left;
  margin-left: 50px;
}
.site-banner li:first-child {
  margin-left: 0;
}
.site-banner .brace {
  float: left;
  margin: auto 20px;
  color: #2a4e79;
}
.site-banner a {
  color: #91a0c0;
  text-decoration: none;
  font-family: 'OpenSansSemibold', Helvetica, sans-serif;
}
.site-banner a:hover {
  color: #b0d191;
  text-shadow: 0 0 1px #111;
}

/* Page styles */
h1 {
  font-size: 78px;
  text-shadow:  1px 0 0 #222, 0 -1px 0 #222, 0 1px 0 #222, -1px 0 0 #222, 0 0 160px #fff;
  margin-bottom: 40px;
  color: #fff;
  font-family: 'OpenSansBold', Helvetica, sans-serif;
  font-weight: normal;
}

h2 {
  font-weight: normal;
  font-family: 'OpenSansSemibold', Helvetica, sans-serif;
}

/* Aside Box */
.aside-list {
  list-style: none;
  min-width: 300px;
}
.aside-list li {
  line-height: 1.6em;
}
.aside-list a {
  color: #999;
  text-decoration: none;
}
.aside-list .key {
  float: left;
  margin-right: 14px;
}
.aside-list .value {
  color: #ccc;
  font-style: italic;
}

/* Presentational Styles */
.right {
  float: right;
  margin: 0 0 20px 20px;
}

/* TODO(bstack): This is a dumb way to do these styles... fix later */
.announcement {
  display: block;
  font-size: 1.7em;
  width: 500px;
  padding: 5px;
  border: 3px double #ddc;
  border-radius: 5px;
  text-align: center;
  background-color: #111;
}

.announcement:hover {
  cursor: pointer;
  cursor: hand;
}

.hilite {
  background-color: #111220;
  color: #ddf;
  border-radius: 5px;
  margin: 11px;
  box-shadow: 0 0 1px 1px #fff;
  text-align: center;
}

#schedule td, th{
  text-align: center;
}
#schedule th {
  font-weight: normal;
  font-family: 'OpenSansBold', Helvetica, sans-serif;
}

/* Conference Page Styles: */
.container .speaker-list {
  padding-left: 0;
}
.speaker-list li {
  float: left;
  width: 45%;
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}
.speaker-list li:nth-child(odd) {
  clear: left;
  margin-right: 5%;
}
.speaker-list h3 {
  float: left;
  margin: 0;
}
.speaker-list .affiliation {
  text-align: right;
  font-style: italic;
  float: right;
}
.speaker-list h3, .speaker-list .affiliation {
  line-height: 26px;
}
.speaker-list .title {
  clear: both;
  margin-bottom: 10px;
}
.speaker-list .bio {
  font-size: 14px;
}

#lead-sponsor {
  width: 200px;
  margin: 0 auto;
  padding-top: 20px;
}

#main-sponsors {
  width: 875px;
  margin: 0 auto;
}
.sponsor {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

#parking {
  clear: both;
}

.toc {
  font-size: 1.2em;
  list-style: none;
  padding: 20px;
}

.toc:before {
  content: 'View More: {';
}

.toc:after {
  content: '}';
  position: relative;
  right: 20px;
}

.toc li {
  margin-right: 20px;
  display: inline;
}

.btn {
  padding: 13px;
  background-color: #445;
  border-radius: 15px;
  border: 1px solid #222;
  padding-top: 9px;
}

.twitter {
  margin-left: 10px;
  opacity: 0.3;
}

.video {
  margin-right: 5%;
  float: left;
}
.slides {
  float: right;
}
.media-container {
  clear: both;
  display: none;
  overflow: hidden;
}
.media-container .none {
  background-color: rgba(255, 255, 255, 0.1);
  width: 420px;
  height: 315px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
