%aside.right
  = image_tag 'link-state.png'
  %h2 Important Info
  %ul.aside-list
    %li
      %span.key Date:
      .value October 27, 2012
      %span.key Time:
      .value 9:00AM-7:00PM
      %span.key Location:
      .value
        %a{:href => 'http://goo.gl/maps/Qbpq1'} Nord Hall, CWRU Campus
      %span.key Contact:
      .value
        %a{:href => 'mailto:jrg149@case.edu'} John Gunderman

%h1 Link-State 2012 <small><a href="#{url_for(:acm, :conference, :signup)}">Sign up!</a></small>
:markdown
  ACM at Case Western Reserve University is proud to present our *first annual*
  conference. We invite you to listen to speakers, meet fellow computer
  scientists, and have a great time.

  This page is a living document, it will be updated with information over time, **important update will be emailed to you if you have signed up**.

%h2 Schedule
%table#schedule{:border => 1}
  %thead
    %th Time
    %th Nord 400
    %th Nord 410
    %th Nord 300
  %tr
    %td 9:00am
    %td{:colspan => 3} Check-in and Breakfast
  %tr
    %td 9:45am
    %td
      %a{:href => '#Tantalo'} John Tantalo (Google)
    %td
      %a{:href => '#Microsoft'} [A Speaker from Microsoft]
    %td
  %tr
    %td 11:00am
    %td
      %a{:href => '#Hatfull'} Fred Hatfull (Yelp)
    %td
      %a{:href => '#Daw'} Joe Daw (Jones Day)
    %td
  %tr
    %td 12:15pm
    %td{:colspan => 3} Lunch
  %tr
    %td 1:30pm
    %td
    %td
    %td Lightning Talks
  %tr
    %td 2:25pm
    %td
      %a{:href => '#barendt'} Nick Barendt (LeanDog)
    %td
      %a{:href => '#Zhang'} Shijie Zhang (Google)
    %td
  %tr
    %td 3:30pm
    %td
    %td
      %td
        %a{:href => '#keynote'} Chet Ramey (Keynote, CWRU)
  %tr
    %td 5:00pm
    %td
    %td
    %td Closing Remarks
  %tr
    %td 5:10pm
    %td{:colspan => 3} Dinner
  %tr
    %td 6:30pm
    %td{:colspan => 3} Programming Comp. and Social Events

#keynote.hilite
  %h2 Keynote -- Chet Ramey (CWRU)
  The longtime maintainer of Bash will be speaking about the popular
  shell.

%h2 Speakers
%ul.speaker-list
  %li#Tantalo
    %h3 John Tantalo
    .affiliation Google
    .title Pushing Websites (Google Maps) to New Heights With WebGL
    .bio
      %p
        Google is pushing the boundaries of modern web browsers to make Google
        Maps faster, smoother, and more dynamic. WebGL is a new standard based on
        OpenGL that allows Web applications to deliver hardware-accelerated 3D
        graphics in the browser. By choosing WebGL to power Google Maps, Google
        has created an incentive for browser developers to improve WebGL support.
      %p
        John Tantalo is a Software Engineer at Google in Seattle working on Google
        Maps. He graduated from Case School of Engineering in 2007 with a BS in
        Computer Science. Before joining Google, John was an engineer at Eventful
        in San Diego. John's favorite things to do are cooking and having fun with
        his wife and two young kids.
      %p
        %a{:href => 'http://github.johntantalo.com/'} http://github.johntantalo.com/
  %li#Microsoft
    %h3 To Be Determined
    .affiliation Microsoft
    .title To Be Determined
    .bio
      Microsoft will be giving a talk; we will update this as we learn the
      details.
  %li#Hatfull
    %h3 Fred Hatfull
    .affiliation Yelp
    .title The Dirty Work: Scaling Out Websites With Your Own Two Hands
    .bio
      Fred Hatfull is a software engineer on Yelp's Infrastructure team in San
      Francisco. He develops and maintains the software infrastructure that
      serves more than 78 million unique visitors each month, as well as the
      systems used to monitor that software. Fred graduated from the Case School
      of Engineering with a BS in Computer Science and enjoys visualizing data,
      playing his guitar, and exploring San Francisco.
  %li#barendt
    %h3 Nick Barendt
    .affiliation LeanDog
    .title A Practical Introduction to DevOps with Chef
    .bio
      Nick is a wayward electrical engineer, having spent his career in software.
      Combining expertise in both real-time, embedded systems and scalable cloud
      computing, he is a jack of all trades (perhaps a master of none).  His
      interest in continuous learning and passion for startups led him to
      LeanDog Software, where he leads Labs, focusing on assisting early stage
      tech startups.  He is also an adjunct faculty member in the Department
      of Electrical Engineering and Computer Science at Case Western Reserve
      University in Cleveland, Ohio.
  %li#Daw
    %h3 Joe Daw
    .affiliation Jones Day
    .title A Day in the Life of an Information Security Professional
    .bio
      %p
        Joe Daw has more than 15 years in providing successful corporate security
        leadership, infrastructure management, regulatory compliance and risk
        management in various industries.  Joe has built and successfully managed
        an Information Security Program from the ground up for several Firms
        within industries including banking, insurance, health and legal.  Joe
        deals effectively with customers, executives, and stockholders on a
        regular basis. All of these achievements are critical to firms that must
        compete in today's difficult economy and maintain information security
        and compliance through appropriate risk management.
      %p
        Highlights:
      %p
        Sarbanes-Oxley (SOX) compliance for a fortune 500 insurance company
        Head of Information Security for many Firms (Insurance and Legal)
      %p
        Payment Card Industry (PCI) - Managed, assessed and implemented a PCI
        compliance program, a standard that deals with credit card payment
        requirements
      %p
        Recruited for expertise in information technology management,
        communication skills and ability to design and implement a corporate
        information security program
      %p
        CISSP certified and currently the President of the Cleveland ISC2
        chapter
  %li#Zhang
    %h3 Shijie Zhang
    .affiliation Google
    .title MapReduce and Google's Pregel Framework
    .bio
      %p
        The talk starts with a brief introduction of the MapReduce system. The
        MapReduce system makes it easy to parallelize a particular form of
        computation across a large data set. It automates the process of
        splitting up and coordinating that computation and its data to run on
        thousands of machines at once. Although the implementation of
        MapReduce is complex, understanding MapReduce is actually not hard.
      %p
        Next, the Pregel project will be introduced. The objective of the
        Pregel project is to provide a unified framework for performing
        large-scale graph computations at Google that enables users to focus
        on the actual algorithm, leaving many details to the Pregel framework,
        such as distributed and multi-threaded execution, load-balancing,
        fault tolerance, data representation. This introduction explains the
        basics of defining, running, and testing a graph algorithm using
        Pregel, as well as how the system is designed.
      %p
        Shijie Zhang received her BE in Computer Science from Shanghai Jiao
        Tong University, and Ph.D. from Case Western Reserve University. Her
        research ranged from Data Mining, Graph Indexing Algorithms,
        Bioinformatics, Computer Vision, and Recommendation Systems. She has
        published a number of research papers and filed a few patents. Now
        she works at Google as a software engineer.

:javascript
  $(document).ready( function() {
    $('#schedule td').each( function(index, el) {
      var el = $(el);
      el.hover(
        function() {
          //handle in
        },
        function() {
          //handle out
        }
      );
    });
  });
