%h1 ACMcon 2012
%p
  ACM at Case Western Reserve University is proud to present our
  %i first annual
  conference. We invite you to listen to speakers, meet fellow computer
  scientists, and have a great time.
%p
  We should put more stuff here later.
