%aside.right
  = image_tag 'link-state.png'
  %h2 Important Info
  %ul.aside-list
    %li
      %span.key Date:
      .value October 27, 2012
      %span.key Time:
      .value 9:00AM-7:00PM
      %span.key Location:
      .value
        %a{:href => 'http://goo.gl/maps/Qbpq1'} Nord Hall, CWRU Campus
      %span.key Contact:
      .value
        %a{:href => 'mailto:jrg149@case.edu'} John Gunderman

%h1 Link-State 2012 <small><a href="#{url_for(:acm, :conference, :signup)}">Sign up!</a></small>
:markdown
  ACM at Case Western Reserve University is proud to present our *first annual*
  conference. We invite you to listen to speakers, meet fellow computer
  scientists, and have a great time.

  This page is a living document, it will be updated with information over time, **important update will be emailed to you if you have signed up**.

%h2 Schedule
%table#schedule{:border => 1}
  %thead
    %th Time
    %th Nord 400
    %th Nord 410
    %th Nord 300
  %tr
    %td 9:00am
    %td{:colspan => 3} Check-in and Breakfast
  %tr
    %td 9:45am
    %td
      %a{:href => '#Tantalo'} John Tantalo (Google)
    %td
      %a{:href => '#Microsoft'} [A Speaker from Microsoft]
    %td
  %tr
    %td 11:00am
    %td
      %a{:href => '#Hatfull'} Fred Hatfull (Yelp)
    %td
      %a{:href => '#Daw'} Joe Daw (Jones Day)
    %td
  %tr
    %td 12:15pm
    %td{:colspan => 3} Lunch
  %tr
    %td 1:30pm
    %td
    %td
    %td Lightning Talks
  %tr
    %td 2:25pm
    %td
      %a{:href => '#LeanDog'} [A Speaker from LeanDog]
    %td
      %a{:href => '#Zhang'} Shijie Zhang (Google)
    %td
  %tr
    %td 3:30pm
    %td
    %td
      %td
        %a{:href => 'Ramey'} Chet Ramey (Keynote, CWRU)
  %tr
    %td 5:00pm
    %td
    %td
    %td Closing Remarks
  %tr
    %td 5:10pm
    %td{:colspan => 3} Dinner
  %tr
    %td 6:30pm
    %td{:colspan => 3} Programming Comp. and Social Events

%h2 Speakers
%ul.speaker-list
  %li#Tantalo
    %h3 John Tantalo
    .affiliation Google
    .title This Talk Has a Title: It can be Long or Short!
    .bio
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat
      aliquet leo rhoncus vehicula. Curabitur non augue in tortor imperdiet
      tristique vitae ac quam. Sed fringilla tincidunt augue non aliquam. Quisque
      in odio justo. Sed at tellus mi, a faucibus tellus. Mauris elit dui, rhoncus
      at auctor dictum, aliquam eu arcu. Nullam in ligula eu leo interdum luctus.
      Cras vitae felis quis sapien aliquam aliquet vitae sollicitudin sem.
      Praesent iaculis pulvinar sapien at lobortis.
  %li#Microsoft
    %h3 [Unnamed Speaker]
    .affiliation Microsoft
    .title Unknown Speaker...
    .bio
      in odio justo. Sed at tellus mi, a faucibus tellus. Mauris elit dui, rhoncus
      at auctor dictum, aliquam eu arcu. Nullam in ligula eu leo interdum luctus.
      Cras vitae felis quis sapien aliquam aliquet vitae sollicitudin sem.
      Praesent iaculis pulvinar sapien at lobortis.
  %li#Hatfull
    %h3 Fred Hatfull
    .affiliation Yelp
    .title How to Be Awesome: Talk Name Forthcoming
    .bio
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat
      aliquet leo rhoncus vehicula. Curabitur non augue in tortor imperdiet
      tristique vitae ac quam. Sed fringilla tincidunt augue non aliquam. Quisque
      in odio justo.
  %li#Daw
    %h3 Joe Daw
    .affiliation Jones Day
    .title Talk Title Here
    .bio
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat
      aliquet leo rhoncus vehicula. Curabitur non augue in tortor imperdiet
      tristique vitae ac quam. Sed fringilla tincidunt augue non aliquam. Quisque
      in odio justo. Sed at tellus mi, a faucibus tellus. Mauris elit dui, rhoncus
      at auctor dictum, aliquam eu arcu. Nullam in ligula eu leo interdum luctus.
      Cras vitae felis quis sapien aliquam aliquet vitae sollicitudin sem.
      Praesent iaculis pulvinar sapien at lobortis.
  %li#Leandog
    %h3 [Unnamed Speaker]
    .affiliation LeanDog
    .title Talk Title Here
    .bio
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat
      aliquet leo rhoncus vehicula. Curabitur non augue in tortor imperdiet
      tristique vitae ac quam. Sed fringilla tincidunt augue non aliquam. Quisque
      in odio justo. Sed at tellus mi, a faucibus tellus. Mauris elit dui, rhoncus
      at auctor dictum, aliquam eu arcu. Nullam in ligula eu leo interdum luctus.
      Cras vitae felis quis sapien aliquam aliquet vitae sollicitudin sem.
      Praesent iaculis pulvinar sapien at lobortis.
  %li#Zhang
    %h3 Shijie Zhang
    .affiliation Google
    .title This Talk Has a Title: It can be Long or Short!
    .bio
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat
      aliquet leo rhoncus vehicula. Curabitur non augue in tortor imperdiet
      tristique vitae ac quam. Sed fringilla tincidunt augue non aliquam. Quisque
      in odio justo. Sed at tellus mi, a faucibus tellus. Mauris elit dui, rhoncus
      at auctor dictum, aliquam eu arcu. Nullam in ligula eu leo interdum luctus.
      Cras vitae felis quis sapien aliquam aliquet vitae sollicitudin sem.
      Praesent iaculis pulvinar sapien at lobortis.
  %li#Ramey
    %h3 Chet Ramey (keynote)
    .affiliation CWRU
    .title This Talk Has a Title: It can be Long or Short!
    .bio
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat
      aliquet leo rhoncus vehicula. Curabitur non augue in tortor imperdiet
      tristique vitae ac quam. Sed fringilla tincidunt augue non aliquam. Quisque

:javascript
  $(document).ready( function() {
    $('#schedule td').each( function(index, el) {
      var el = $(el);
      el.hover(
        function() {
          //handle in
        },
        function() {
          //handle out
        }
      );
    });
  });
