%aside.right
  %img{ src: '/images/acm_logo.png', style: 'width: 300px; margin-bottom: 25px;' }
  %h2 Contact Us
  %ul.contact-list
    %li
      %a.name{ href: 'mailto:bis12@case.edu' } Brian Stack
      .position President
    %li
      %a.name{ href: 'mailto:mkv13@case.edu' } Matthew Varley
      .position Vice President
    %li
      %a.name{ href: 'mailto:jdd49@case.edu' } John Dulin
      .position Treasurer
    %li
      %a.name{ href: 'mailto:ndm25@case.edu' } Nathan McKinley
      .position Secretary

%h1 ACM @ CWRU
:markdown
  We _really_ love computers.
%h2 ACM Conference
:markdown
  We're hosting a conference! OMG!
