%aside.right
  %img{ src: '/images/acm_logo.png', style: 'width: 300px; margin-bottom: 25px;' }
  %h2 Contact Us
  %ul.aside-list
    %li
      %a.key{ href: 'mailto:bis12@case.edu' } Brian Stack
      .value president
    %li
      %a.key{ href: 'mailto:mkv13@case.edu' } Matthew Varley
      .value vice president
    %li
      %a.key{ href: 'mailto:jdd49@case.edu' } John Dulin
      .value treasurer
    %li
      %a.key{ href: 'mailto:ndm25@case.edu' } Nathan McKinley
      .value secretary

%h1 ACM @ CWRU
:markdown
  We _really_ love computers.  We also know that one of the most important parts of an education is experiential learning.  The ACM student organization at CWRU exists to supplement the top-notch classroom instruction the students here are a part of. 
%h2 Link-State Conference
:markdown
  The [2012 ACM@CWRU Conference](/acm/conference/ "conference website") will be on October 27 in Nord Hall.  Registration coming soon!
