%aside.right
  %img{ src: '/images/acm_logo.png', style: 'width: 300px; margin-bottom: 25px;' }
  %h2 Contact Us
  %ul.aside-list
    %li
      %a.key{ href: 'mailto:agn31@case.edu' } Aaron Neyer
      .value president
    %li
      %a.key{ href: 'mailto:jrk126@case.edu' } Jason Kuster
      .value vice president
    %li
      %a.key{ href: 'mailto:drw75@case.edu' } Diego Waxemberg
      .value treasurer
    %li
      %a.key{ href: 'mailto:jdd49@case.edu' } John Dulin
      .value secretary

%h1.root ACM

%a.announcement{:href => @acm_conference_url}
  :markdown
    Information for the Link-State 2013 conference

:markdown
  We _really_ love computers. We also know that one of the most important parts
  of an education is experiential learning. Our goal is to supplement the
  top-notch Case Western Computer Science curriculum with top-notch practical
  skill development by planning events, working on projects together, and
  providing valuable networking opportunities for members.

  Below is an abbreviated list of what is on our plate for this semester. *If
  you are interested in being involved in one of these projects (even if you
  aren't a Computer Science major), drop the project leader an e-mail!*
%h2#conference ACM Conference: Link-State 2013
:markdown
  After a successful conference last year, we're hosting our second annual
  ACM Link State conference on Saturday, October 26th and Sunday, October 27th.
  We will have speakers from several tech companies, as well as a networking
  event for students to talk with some of the companies there.

  For more information:

  * Conference Organizers: [ John Dulin ](mailto:jdd49@case.edu),
  [ Aaron Neyer](mailto:agn31@case.edu)
  * Website: <#{@acm_conference_url}>
%h2#servers ACM Servers
:markdown
  Thanks to the generous donation from various students and alumni, we
  purchased our very own server. The server is maintained for students by
  students and is a great place for students to have a place to play around, or
  to host their projects.

  For more information:

  * Server Admins: [ Aaron Neyer ](mailto:agn31@case.edu),
  [ Cameron Gutman ](cmg110@case.edu)
  * [Read more about the ACM Servers...](#{url_for(:acm, :servers)})
