%aside.right
  %img{ src: '/images/acm_logo.png', style: 'width: 300px; margin-bottom: 25px;' }
  %h2 Contact Us
  %ul.aside-list
    %li
      %a.key{ href: 'mailto:acv31@case.edu' } Anno van den Akker
      .value President
    %li
      %a.key{ href: 'mailto:mtb89@case.edu' } Matthew Bentley
      .value VP of ACM
    %li
      %a.key{ href: 'mailto:mlm232@case.edu' } Morgan McMahon
      .value VP of IEEE
    %li
      %a.key{ href: 'mailto:lak98@case.edu' } Leah Karasek
      .value Treasurer
    %li
      %a.key{ href: 'mailto:dcl71@case.edu' } David Lance
      .value Secretary
    %li
      %a.key{ href: 'mailto:krc53@case.edu' } Katherine Cass
      .value PR Chair
    %li
      %a.key{ href: 'mailto:dxb448@case.edu' } Dina Benayad-Cherif
      .value PR Chair

%h1.root ACM

:markdown
  We _really_ love computers. We also know that one of the most important parts
  of an education is experiential learning. Our goal is to supplement the
  top-notch Case Western Computer Science curriculum with top-notch practical
  skill development by planning events, working on projects together, and
  providing valuable networking opportunities for members.

  Below is an abbreviated list of what is on our plate for this year. *If
  you are interested in being involved in one of these projects (even if you
  aren't a Computer Science major), drop the project leader an e-mail!*

#github
%h2
  %a{href: 'https://github.com/hacsoc/'} GitHub Organization
:markdown
  We have our GitHub organization where members can view and contribute to the
  code that helps run Hacker Society. You can find us at
  [hacsoc](https://github.com/hacsoc/).

#conference
%h2
  %a{href: url_for('acm/conference')} ACM Conference: Link-State
:markdown
  Every fall ACM holds our Link-State conference, where we bring together people
  from around the country to get together, talk about all technology related to
  computing, and hear talks from a variety of awesome speakers.

  For more information:

  * Conference Organizer: [ Thomas Murphy ](mailto:trm70@case.edu)
  * [Read the conference's origin](#{url_for('acm/conference/about')}#origins)
  * [View conference archives](#{url_for('acm/conference/about')}#archive)
  * [Get details about the next Link-State conference](#{url_for('acm/conference')})

%h2#hackathon
  %a{href: 'http://hack.cwru.edu/'} HackCWRU Hackathon
:markdown
  Every spring ACM holds our HackCWRU hackathon to bring students from
  schools near and far to Case Western Reserve University for food,
  sleeplessness, caffeine, coding, hardware, and (most importantly) learning.
  HackCWRU 2016 will take place from February 12th to February 14th. You can
  follow these helpful links to get more information:

  * [Register](http://hack.cwru.edu/start)
  * [Sponsor](http://hack.cwru.edu/#sponsors)
  * [General Information](http://hack.cwru.edu/)

%h2#servers ACM Servers
:markdown
  Thanks to the generous donation from various students and alumni, we
  purchased our very own server. The server is maintained for students by
  students and is a great place for students to have a place to play around, or
  to host their projects.

  For more information:

  * Server Admin: [ Matthew Bentley ](mailto:bentley@case.edu)
  * [Read more about the ACM Servers...](#{url_for(:acm, :servers)})
