%aside.right
  %img{ src: '/images/acm_logo.png', style: 'width: 300px; margin-bottom: 25px;' }
  %h2 Contact Us
  %ul.aside-list
    %li
      %a.key{ href: 'mailto:daj40@case.edu' } David Jannotta
      .value President
    %li
      %a.key{ href: 'mailto:jdd49@case.edu' } John Dulin
      .value Vice President
    %li
      %a.key{ href: 'mailto:drw75@case.edu' } Diego Waxemberg
      .value Treasurer
    %li
      %a.key{ href: 'mailto:jdd49@case.edu' } Brendan Higgins
      .value Secretary
    %li
      %a.key{ href: 'mailto:slh74@case.edu' } Stephanie Hippo
      .value PR Chair

%h1.root ACM

:markdown
  We _really_ love computers. We also know that one of the most important parts
  of an education is experiential learning. Our goal is to supplement the
  top-notch Case Western Computer Science curriculum with top-notch practical
  skill development by planning events, working on projects together, and
  providing valuable networking opportunities for members.

  Below is an abbreviated list of what is on our plate for this semester. *If
  you are interested in being involved in one of these projects (even if you
  aren't a Computer Science major), drop the project leader an e-mail!*
%h2#conference
  %a{href: url_for('acm/conference')} ACM Conference: Link-State
:markdown
  Every fall ACM holds our Link-State conference, where we bring together people
  from around the country to get together, talk about Computer Science, and hear
  talks from various awesome speakers.

  For more information:

  * Conference Organizer: [ David Jannotta ](mailto:daj40@case.edu)
  * [View conference archives](#{url_for('acm/conference/about')})
  * [Get details about the next Link-State conference](#{url_for('acm/conference')})
%h2#servers ACM Servers
:markdown
  Thanks to the generous donation from various students and alumni, we
  purchased our very own server. The server is maintained for students by
  students and is a great place for students to have a place to play around, or
  to host their projects.

  For more information:

  * Server Admins: [ Aaron Neyer ](mailto:agn31@case.edu),
  [ Cameron Gutman ](mailto:cmg110@case.edu)
  * [Read more about the ACM Servers...](#{url_for(:acm, :servers)})
