%h1 ACM Servers
%aside.right{style: 'width: 300px'}
  %div{style: 'width: 115px; margin: auto;'}
    %img{src: '/images/caa_logo.png'}
  :markdown
    Through generous donations, we have purchased our very own server, but we still
    need _your_ help for the project to continue to grow. All donations are tax-deductible.

    ### Donation Instructions:

    1. Go to the [Case Alumni Association Donation Page](https://www.casealum.org/sslpage.aspx?pid=239)
    2. Select "Other" for "Designation" and input "ACM-Servers" into the text box

    We thank you for your support!

%h2 What?
:markdown
  Thanks to the generous donation from various students and alumni, we
  purchased our very own server. The server is maintained for students by
  students and is a great place for students to have a place to play around, or
  to host their projects.
%h2 Who?
:markdown
  The servers will always be student maintained. The current maintainers of the
  server are [ Aaron Neyer ](mailto:agn31@case.edu) and [ Cameron Gutman ](cmg110@case.edu).
  Anybody can get involved and help to run the server. We always need
  help running various projects on the server and keeping everything up and running.
  If you want to help run the server, or have a project you would like to host on the server,
  contact the admins and let them know.
