%h1 ACM Servers
%aside.right{style: 'width: 300px'}
  %div{style: 'width: 115px; margin: auto;'}
    %img{src: '/images/caa_logo.png'}
  :markdown
    Through generous donations, we have purchased our very own server, but we still
    need _your_ help for the project to continue to grow. All donations are tax-deductible.

    ### Donation Instructions:

    1. Go to the [Case Alumni Association Donation Page](https://www.casealum.org/sslpage.aspx?pid=239)
    2. Select "Other" for "Designation" and input "ACM-Servers" into the text box

    We thank you for your support!

%h2 What?
:markdown
  Thanks to the generous donation from various students and alumni, we
  purchased our very own server. The server is maintained for students by
  students and is a great place for students to have a place to play around, or
  to host their projects.
%h2 Who?
:markdown
  The servers will always be student maintained. The current maintainer of the
  server is [Matthew Bentley](mailto:bentley@case.edu). Anybody can get involved and help to
  run the server. We always need help running various projects on the server
  and keeping everything up and running. If you want to help run the server, or
  have a project you would like to host on the server, contact the admins and
  let them know.
%h2 Current Projects:
%h3 people.acm.case.edu
:markdown
  people.acm.case.edu is a machine, maintained by the ACM server staff, which gives any Case
  student a linux shell for development and simple web hosting. If your class requires you to use linux,
  if you're a hobbyist interested in tinkering, or if you just want to play around with linux or host a simple
  website, sign up at [people.acm.case.edu](http://people.acm.case.edu).
  ####Maintainers
  [Matthew Bentley](mailto:bentley@case.edu)
%h3 irc.case.edu
:markdown
  irc.case.edu is the Case Western IRC server. We recommend [ Quassel ](http://quassel-irc.org) on Windows,
  [ Colloquy ](http://colloquy.info) on Mac, and [ XChat ](http://xchat.org) on Linux. Good channels to
  join are #cwru (general chat), #acm (ACM-related chat), and #hackers (CWRU Hacker Society chat).
  ####Maintainers
  [Andrew Hennessy](mailto:ajb200@case.edu)
  and [Thomas Murphy](mailto:trm70@case.edu)
%h3 minecraft.case.edu
:markdown
  minecraft.case.edu was the Case Western Minecraft server. It is not currently
  running, but contact the ACM maintainers to inquire about reviving it.
%h3 starbound.case.edu
:markdown
  starbound.case.edu was the Case Western Starbound server. It is not currently
  running, but contact the ACM maintainers to inquire about reviving it.
