%h1.root EECS
%p
  We are a collective of students who seek to push the limits of CWRU's EECS
  program. We will synergize the student body and produce quality-driven events
  for the betterment of society.
