%h1.root EECS
:markdown
  The [Electrical Engineering and Computer Science department](http://engineering.case.edu/eecs/ "EECS Website") is a good place to shove all of the people who
  spend their days moving electrons around in some semi-organized fashion.  The students in each field
  have a few groups that join them together; they are as follows:

%a{:href => '/'}
  %h2 ACM: %small A group for Computer Scientists
%a{:href => '/ieee'}
  %h2 IEEE: %small group for Electrical Engineers
%a{:href => '/hacsoc'}
  %h2 Hacker Society (HacSoc): %small A group for those interested in pushing the boundaries of their education

:markdown
  These groups all work together in order to have a stronger student body overall. Check out each of their pages
  to find contact information.
