%aside.right
  %h2 Contact Us
  %ul.aside-list
    %li
      %a.key{ href: 'mailto:axc554@case.edu' } Andrew Covarrubias  
      .value president

%h1.root IEEE
:markdown
  The branch of the Institute of Electrical and Electronics Engineers at Case Western Reserve University is committed to working with students involved with the EECS department. We provide valuable extracurricular opportunities for students in the form of networking and social events, technical presentations, and competitions. We document some of our presentations on our [YouTube channel](http://www.youtube.com/user/CaseIEEE?feature=CAQQwRs%3D)
