%aside.right
	%img{ src: '/images/hackcwru.png', style: 'width: 300px; margin-bottom; 25px;' }
%h1.root Hack
	:markdown
		HackCWRU is where we invite hackers from all over to spend 24 sleepless hours making awesome projects. To find out more and see who last year's winners were, check us out at our [website](#{url_for('http://hack.cwru.edu/')}) or look at some of the [cool hacks](#{url_for('http://hackcwru2014.challengepost.com/submissions')}) people made!
		
