%aside.right
  = image_tag 'link-state.png'
  %h2 Important Info
  %ul.aside-list
    %li
      %span.key Date:
      .value TBA
      %span.key Time:
      .value TBA
      %span.key Location:
      .value TBA
      %span.key Contact:
      .value
        %a{:href => 'mailto:daj40@case.edu'} David Jannotta
      %span.key Twitter:
      .value
        %a{:href => 'https://twitter.com/cwruacm'} @cwruacm 
      %span.key Hashtag:
      .value #linkstate
      %span.key Facebook Event:
      .value TBA
%h1 Link-State 2014
:markdown
  ACM at Case Western Reserve University is proud to present our *third annual*
  Link-State conference. The conference is still in the planning stages, but more
  details are to come.

  For now, you can check out details of previous conferences at our
  [archive](#{url_for('/acm/conference/about#archive')}).
