%h1 ACM Link-State Conference

%p
  Link-State is a student run conference put on every year by Case Western's ACM
  student group. The first Link-State conference was run October 27th 2012 and it
  has been growing ever since. If you're curious as to where the name came from,
  read its origin story below. If you want to see what was happening at our previous
  conferences, check out the #{link_to 'archive', '#archive'} further down the page.

#origins
%h2 Origins

:markdown
  It was a dark and stormy night, but it was warm and comfortable inside a house on
  East 115th Street in Cleveland, Ohio (so long as the occupants sat away from the
  windows that never quite closed properly). The aforementioned occupants were @bis12,
  @ted27, and @icd3 (also perhaps others who have been lost to the sands of time).

  The occupants were commiserating about the lack of any real interactions CWRU ACM had
  with the outside world and resolved to fix it!  The trio finally agreed that a
  conference had to be hosted such that all of the students - and even people from
  outside the little bubble known as the Case Western Reserve University Electrical
  Engineering and Computer Science Department - could attend and reap the benefits of
  having a lot of bright minds in one place talking, eating, and thinking together.
  The trio's brains rushed off to the far corners of the universe with fanciful ideas
  about what would happen, who would come, and what their award that they would
  eventually earn for this will be called (note: they are still waiting on this award).

  Speaking of naming something... They suddenly realized that this wonderful conference
  had no name!  This simply could not be, and they got to work thinking up different
  names for it, most of which were simply deplorable and have long since been forgotten.
  But, there was one name that really stood out as something worthy of being attached
  to this conference.

  **Link State**

  This would be the name for the conference.  Not only was it a routing protocol, but
  it also signified the conference as a point of connection for all of the disparate
  groups of people who cared about computers in northeastern Ohio. Stealing from
  Wikipedia:

  > The basic concept of link-state routing is that every node constructs a map of
  > the connectivity to the network, in the form of a graph, showing which nodes are
  > connected to which other nodes. Each node then independently calculates the next
  > best logical path from it to every possible destination in the network.

  Ah, the trio felt that this was exactly right! It would be a place where all of the
  participants could calculate routing tables to one another ensuring that they did not
  continue to stay as out-of-touch from each other as they had in the past. The trio
  was satisfied; they finished their meal and went to sleep.

#archive
  %h2 Archive
  %ul
    %li
      %a{href: url_for('acm/conference/2012')} Link-State 2012
    %li
      %a{href: url_for('acm/conference/2013')} Link-State 2013
    %li
      %a{href: url_for('acm/conference/2014')} Link-State 2014
    %li
      %a{href: url_for('acm/conference/2015')} Link-State 2015
    %li
      %a{href: url_for('acm/conference/2016')} Link-State 2016
