%h1 ACM Link-State Conference

%p
  Link-State is a student run conference put on every year by Case Western's ACM
  student group. The first Link-State conference was run October 27th 2012 and it
  has been growing ever since. If you want to see what was happening at our previous
  conferences, check out the archive below.

#archive
  %h2 Archive
  %ul
    %li
      %a{href: url_for('acm/conference/2012')} Link-State 2012
    %li
      %a{href: url_for('acm/conference/2013')} Link-State 2013
    %li
      %a{href: url_for('acm/conference/2014')} Link-State 2014
    %li
      %a{href: url_for('acm/conference/2015')} Link-State 2015
