%h1 Link-State Code of Conduct

:markdown

  Link-State is dedicated to providing a harassment-free conference experience
  for everyone, regardless of gender, gender identity and expression, sexual
  orientation, disability, physical appearance, body size, race, age or
  religion. We do not tolerate harassment of conference participants in any
  form.  Sexual language and imagery is not appropriate for any conference
  venue, including talks.  Conference participants violating these rules may be
  sanctioned or expelled from the conference with no refund at the discretion of
  the conference organizers.

  Harassment includes, but is not limited to:

  - Rude or unwelcome comments
  - Sexual images in public spaces
  - Deliberate intimidation, stalking, or following
  - Harassing photography or recording
  - Sustained disruption of talks or other events
  - Inappropriate physical contact
  - Unwelcome sexual attention
  - Advocating for, or encouraging, any of the above behaviour

  ## Enforcement

  Participants asked to stop any harassing behavior are expected to comply
  immediately.

  Conference speakers and sponsors are also subject to the anti-harassment
  policy. In particular, speakers should not use sexualized images, activities,
  or other material. Booth staff (including volunteers) should not use
  sexualized clothing/uniforms/costumes, or otherwise create a sexualized
  environment.

  If a participant engages in harassing behaviour, event organisers retain the
  right to take any actions to keep the event a welcoming environment for all
  participants. This includes warning the offender or expulsion from the
  conference with no refund.

  Event organisers may take action to redress anything designed to, or with the
  clear impact of, disrupting the event or making the environment hostile for
  any participants.

  ## Reporting

  If someone makes you or anyone else feel unsafe or unwelcome, please report it
  as soon as possible.  Conference staff can be identified by their different
  colored t-shirts.  Harassment and other code of conduct violations reduce the
  value of our event for everyone. We want you to be happy at our event. People
  like you make our event a better place.

  You can make a report in person to an organizer, or you may contact ACM/Hacker
  Society officers at:
  [hacsoc-officers@case.edu](mailto:hacsoc-officers@case.edu).

  This anti-harassment policy is based on the [example
  policy](http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy)
  from the Geek Feminism wiki, created by the Ada Initiative and other
  volunteers.
