!!! 5
%html
  %head
    %title EECS @ CWRU
    = stylesheet_link_tag 'global.css'
  %body
    %header.site-banner
      .container
        %span.brace {
        %ul
          %li
            %a{:href => '/'} EECS
          %li
            %a{:href => '/acm'} ACM
          %li
            %a{:href => '/ieee'} IEEE
          %li
            %a{:href => '/hacsoc'} HacSoc
        %span.brace } @ CWRU
    .container
      =yield
