!!! 5
%html
  %head
    %title EECS @ CWRU #{@name ? "-- #{@name}" : nil }
    = stylesheet_link_tag 'global.css'
    = javascript_include_tag 'jquery-1.8.1.min'
    %script{src: "//api.filepicker.io/v1/filepicker.js"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34922032-1']);
      _gaq.push(['_setDomainName', 'cwru-acm.org']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    %header.site-banner
      .container
        %span.brace {
        %ul
          %li
            %a{href: url_for(:home, :index)} EECS
          %li
            %a{href: url_for(:acm, :index)} ACM
          %li
            %a{href: url_for(:ieee, :index)} IEEE
          %li
            %a{href: url_for(:hacsoc, :index)} HacSoc
          %li
            %a{href: 'https://hkn.case.edu'} HKN
        %span.brace } @ CWRU
    .container
      =yield
